*{
    margin: 0px;
    padding: 0px;
}

html{
    font-family: 'IBM Plex Sans', sans-serif;
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
}

p{
    text-align: justify;
}

ul{
    list-style: none;
}

.hidden{
    display: none;
    visibility: hidden;
    opacity: 0;
}

.visible{
    visibility: visible;
    opacity: 1;
}

.sticky{
    position:sticky;
    margin-top: 100px;
}

.relative{
    position: relative;
}

header, footer{
    width: 100%;
    background-color: #2A3132;
    color: #fff;
}

header nav{
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: 0px auto;
    min-height: 100px;
}

header nav .logo{
    width: 300px;
    align-self: center;
}

header nav .menu{
    align-self: center;
}

header nav .menu ul li{
    display: inline;
    width: 100%;
    margin: .2em;
    padding: .5rem;
    border: 1px solid #000000;
    border-radius: 15px;
}

header nav .menu ul li:hover{
    background-color: #0000007e;
    transition: .5s;
}

header nav .menu ul li a{
    width: 100%;
    color: #ffffff;
}

header .btn-menu{
    width: 40px;
    background-color: transparent;
    border: 1px solid transparent;
}

header .btn-menu img{
    width: 100%;
}

header .btn-menu:hover{
    border: 1px solid #000000;
}

.inicio{
    width: 100%;
}

.inicio .img-inicio{
    width: 95%;
    margin: 0px auto;
}

.inicio .img-inicio img{
    width: 100%;
    min-height: 400px;
    max-height: 400px;
}

.inicio .img-inicio .capa{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 95%;
    background-color: #000000ab;
    max-height: 400px;
    min-height: 400px;
}

.inicio .img-inicio .capa .nombre{
    font-size: 2rem;
    color: #ffffff;
}

.contacto h2, .estudios h2, .acerca h2, .tecnologias h2,.proyectos h2{
    font-size: 2rem;
}

.contacto, .estudios, .acerca, .tecnologias,.proyectos{
    font-size: 1.5rem;
    margin:2% 2%;
    min-height: 60vh;
}

.contacto hr, .estudios hr, .acerca hr, .tecnologias hr, .proyectos hr{
    width: 50%;
    background-color: #003B46;
    height: 3px;
    border: 1px solid transparent;
    border-radius: 5px;
}

.lista-tecnologias{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: row wrap;
}

.tecnologias .lista-tecnologias .capa p {
    text-align: center;
}

.lista-tecnologias img{
    width: 100px;
    height: 100px;
}

.contenido-proyecto{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-left: 2%;
}

.contenido-proyecto .descripcion-proyecto,.contenido-proyecto .img-proyecto {
    width: 50%;
    align-self: center;
    margin: 2% 0px;
}

.contenido-proyecto .img-proyecto div{
    width: 90%;
    margin: 0px auto;
}

.contenido-proyecto .img-proyecto img{
    width: 100%;
}

.btn-inicio{
    position:fixed;
    z-index: 999;
    bottom: 1vh;
    width: 30px;
    text-align: center;
    margin-left: 50%;
    margin-bottom: 10px;
    border: 1px solid #000000;
    border-radius:50%;
    transition: .9s;
}

.btn-inicio img{
    width: 100%;
}

.btn-inicio:hover{
    background-color: #ffffff;
    cursor: pointer;
}

footer{
    height: 70px;
}

/*media queries*/
@media (max-width:930px){
    header nav{
        flex-flow: row-reverse nowrap;
        align-items: center;
    }

    header nav .menu{
        width: 50%;
    }

    header nav .menu ul{
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
    }

    header nav .menu ul li{
      margin: 5px 1%;
      width: 50%;
      min-height: 20px;
    }

    header nav .menu ul li a{
        position: absolute;
        width: 23%;
    }

    .btn-menu{
        opacity: 1;
        visibility: visible;
        transition: .9s;
    }

    .contenido-proyecto .descripcion-proyecto,.contenido-proyecto .img-proyecto{
        width: 100%;
    }

}

@media (max-width:430px){
    header nav {
        flex-direction: column;
    }
    
    header nav .logo{
        width: 100%;
        text-align: center;
    }
    header nav .menu{
        width: 100%;
    }

    header nav .menu ul{
        flex-wrap: wrap;
        align-items: flex-start;
    }

    header nav .menu ul li{
        width: 90%;
    }

    header nav .menu ul li a{
        width: 80%;
    }
}

@media (max-width:290px){
    header nav .menu ul li a{
        position: relative;
    }
}